/* Write your CSS here */
.portfolio-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/portfolio-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
