/* Write your CSS here */
.social-media-icons-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff20;
  padding: 10px;
}
.social-media-icon {
  width: 80px;
}
